<?php

/**
 * Local Configuration Override
 */

return [
    'api-tools-mvc-auth' => [
        'authentication' => [
            'adapters' => [
                'oauth' => [
                    'adapter' => \Laminas\ApiTools\MvcAuth\Authentication\OAuth2Adapter::class,
                    'storage' => [
                        'adapter' => \pdo::class,
                        'dsn' => 'url-to-connection',
                        'route' => '/oauth',
                        'username' => 'user-place',
                        'password' => 'password-place',
                    ],
                ],
            ],
        ],
    ],
    'db' => [
        'adapters' => [
            'PGAdapter' => [
                'database' => 'database-place',
                'driver' => 'PDO_Pgsql',
                'hostname' => 'localhost',
                'username' => 'user.place',
                'password' => 'password-place',
                'port' => '5432',
                'dsn' => 'url-to-connection',
            ],
        ],
    ],
    'api-tools-oauth2' => [
        'allow_implicit' => true,
    ],
    'EnterpriseLib' => [
        'array_mapper_path' => 'data/enterpriselib.php',
    ],
];
